
:root {
    --dark1: #090909;
    --dark2: #4b5043;
    --dark3: #9bc4bc;
    --light1: #d3ffe9;
    --light2: #8ddbe0;
    --white: #fff;
    --black: #000;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--white);
    background-color: var(--white);
    margin: 0;
    top: 0px;
    left: 0px;
}
.header {
    font-family: 'Solway', serif;
    background-color: rgb(255, 208, 208);
    color: rgb(0, 0, 0);
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    margin: auto 0;
    font-weight: 800;
}
.newTodoForm{
    overflow: hidden;
    padding: 1rem;
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: deeppink;
    /* transform: translateY(100%); */
    /* display: none; */
}
#form {
    text-align: center;
}

#form > input{
    border-radius: 0.3rem;
    height: 2rem;

}
.task-container {
    padding: 0.11rem;
    border: chocolate 2px solid;
    margin: 1rem;
}
.task-item {
    background-color: rgb(46, 94, 94);
    padding: 0.15rem;
}

.title-item {
    background-color: rgb(0, 0, 0);  
}